@font-face { /*规定英文字体*/
    font-family: TexFont;
    src: url(../FONT/texgyreschola-italic.otf);
}

@font-face { /*规定中文字体*/
    font-family: LXGW;
    src: url(../FONT/LXGWNeoXiHei.ttf);
}

body{
    font-family:TexFont , LXGW; /*应用字体*/
    font-size: 20px;
}

a{text-decoration: none;}

 /*导航栏*/
.NX_Topbar{
    background-color: white;
    box-shadow: 0px 5px 5px #888888;
    margin-left: -1%;
    margin-right: 100%;
    position: fixed;
    z-index: 9999999999;
    white-space: nowrap;
    padding-right: 101%;
    margin-top: -1%;
    float: left;
    display: flex;
}

.NX_Lobby{
    padding-top: 0.5rem;
    padding-bottom: 0.003rem;
    margin-left: 2rem;
    overflow: hidden;
    display: flex;
    font-size: 15px;
    white-space: nowrap;
    color: black;
    transition:color 0.4s;   

}

.NX_Lobby:hover{
    cursor: pointer;
    color: rgb(160, 160, 160);
}

.NX_Select{
    padding-top: 0.5rem;
    padding-bottom: 0.003rem;
    padding-left: 2rem;
    overflow: hidden;
    margin-left: auto;
    display: flex;
    font-size: 15px;
    white-space: nowrap;
    color: blue;
    transition:color 0.4s;
}
.NX_Select:hover{
    cursor: pointer;
    color: rgb(137, 137, 242);
}

/* 头图(Header) */
.NX_TopZone{
    background-color: blue;
    background-repeat:no-repeat;
    background-size:cover;
    background-clip: padding-box;
    background-attachment: fixed;

    margin-left: -1%;
    margin-right: -0.5%;

    min-width: 100vh;
    
    overflow: hidden;
}

.NX_TopFont{
    position: relative;
    left:5rem;
    margin-top:5rem;
    font-size:24px;
    color: #FFF;
}


/*文章区域*/
.NX_LeftImp{
    margin-top:25rem;
    margin: 1rem;
    padding: 1rem 4rem;
    background-image: url();
    box-shadow: 0px 5px 5px #000;
    border-radius: 4%;

    display: inline;
    float: left;

    background-repeat: no-repeat;
    background-clip: padding-box;
    

    z-index: 20;
}

.NX_LeftImp:hover{
    box-shadow: inset 5px 5px 5px #888;
}

.NX_LeftImp_Font{
    font-size: 24px;
    line-height: 0%;
    width: auto;
}

.NX_FloatLeft{
    float: left;
    width: 75%;
    margin-left: 1rem;
}