@font-face {
    font-family: MiSans;
    src: url(../Fonts/MiSans-Regular.ttf);
}

body{
    background-color: grey;
    font-family: MiSans;
}
p{
    font-size:20px;
}
hr{
    border:2px solid white;
}
.toppage{
    margin-top:-1%;
    background-repeat: no-repeat;
    margin-LEFT:-1%;
    margin-right:-0.5%;
    padding-bottom:720px;
    background-color: #000;
    background-image: url(../Img/b7e13d48171fb48396bc3ed5f0af233732ed0526.jpg);
    background-size: 100%;
    z-index: 1;
}

.toppage:after{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: black;
    opacity: 0.5;
    z-index: 2;
    width: 100%;
    height: 720px;
}
.font_toppage{
   position: absolute;
   left:1rem;
   margin-top:4rem;
   color: #FFF;
   font-size:24px;
}


.font_toppage{
    position: absolute;
    left:5%;
    top:120px;
    color: #FFF;
    font-size:24px;
    z-index:3;
 }
 .textpage{
     margin-top:10px;
     margin-LEFT:3%;
     margin-right:3%;
     padding-bottom:auto;
     padding-left:5%;
     padding-right:5%;
     padding-top:3%;
     background-color: white;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
     z-index:10;
 }
 
 
 ul {
    list-style-type: none;
    margin-top: 0%;
    margin-LEFT:-1%;
    margin-right:-0.5%;
    padding-bottom:auto;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index:999;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    color: #000;
}
 
 li {
    float: left;
    z-index:999;
    text-align: center;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: lightblue;
}

li a.active {
    color: white;
    background-color: blue;
}

li .r {
    text-align: center;
    padding: 14px 32px;
    text-decoration: none;
}

a {
    color: rgb(0, 131, 231);
    text-decoration: none;
}

a:hover{
    color: rgb(1, 68, 119);
    text-decoration: none;
}
 
 a {
     color: blue;
     text-decoration: none;
 }
 
 a:hover{
     color: blue;
     text-decoration: none;
 }

 .button {
    margin: 1rem;
    background-color: blue; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 2px;
    font-family: MiSans;
  }

  .button:hover {
    background-color: blueviolet; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    font-family: MiSans;
  }
