@font-face {
    font-family: MiSans;
    src: url(../Fonts/MiSans-Regular.ttf);
}

body{
    background-color: lightgray;
    font-family: MiSans;
}
p{
    font-size:20px;
}
hr{
    border:2px solid black;
}
.toppage{
    margin-top:14px;
    margin-LEFT:-1%;
    margin-right:-0.5%;
    padding-bottom:360px;
    background-color: black;
}
.font_toppage{
   position: absolute;
   left:5%;
   top:120px;
   color: #FFF;
   font-size:24px;
}
.textpage{
    margin-top:-50px;
    margin-LEFT:3%;
    margin-right:3%;
    padding-bottom:auto;
    padding-left:5%;
    padding-right:5%;
    padding-top:3%;
    background-color:#fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    z-index:2;
}


ul {
    list-style-type: none;
    margin-top: 0%;
    margin-LEFT:-1%;
    margin-right:-0.5%;
    padding-bottom:auto;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index:999;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
    z-index:999;
    text-align: center;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: lightblue;
}

li a.active {
    color: white;
    background-color: blue;
}

li .r {
    text-align: center;
    padding: 14px 32px;
    text-decoration: none;
}

a {
    color: rgb(0, 131, 231);
    text-decoration: none;
}

a:hover{
    color: rgb(1, 68, 119);
    text-decoration: none;
}