@font-face {
    font-family: MiSans;
    src: url(../Fonts/MiSans-Regular.ttf);
}

body{
    background-color: rgb(11, 0, 90);
    font-family: MiSans;
}
p{
    font-size:20px;
}
hr{
    border:2px solid #fff;
}
.toppage{
    margin-top:14px;
    margin-LEFT:-1%;
    margin-right:-0.5%;
    padding-bottom:720px;
    background-color: #000;
    background-image: url(../Img/WD.png);
    background-size: 100%;
}
.font_toppage{
   position: absolute;
   left:0%;
   top:30%;
   color: #FFF;
   font-size:24px;
}
.textpage{
    margin-top:-50px;
    margin-LEFT:3%;
    margin-right:3%;
    padding-bottom:auto;
    padding-left:5%;
    padding-right:5%;
    padding-top:3%;
    background-color: rgb(43, 43, 43);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    z-index:2;
}


ul {
    list-style-type: none;
    margin-top: 0%;
    padding-bottom:auto;
    position: fixed;
    top: 15;
    left: 2%;
    border-radius:8px;
    right: 2%;
    overflow: hidden;
    z-index:999;
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    box-shadow:inset 0 0 6px rgba(255, 255, 255, 0.2);
}

li {
    float: left;
    z-index:999;
    text-align: center;
}

li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem 0.75rem;
    text-decoration: none;
}

li a.active {
    color: white;
    background-color: rgba(0, 149, 255, 0.5);
}

li .r {
    text-align: center;
    padding: 14px 32px;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover{
    color: white;
    background-color: rgba(0, 149, 255, 0.2);
    text-decoration: none;
}

.button {
    background-color: blueviolet; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    font-family: MiSans;
  }

  .button:hover {
    background-color: blueviolet; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    font-family: MiSans;
  }