body{
    background-color: lightgray;
}
p{
    font-size:20px;
}
hr{
    border:2px solid black;
}
.toppage{
    margin-top:-1%;
    margin-LEFT:-1%;
    margin-right:-0.5%;
    padding-bottom:720px;
    background-color: black;
}
.font_toppage{
   position: absolute;
   left:0%;
   top:30%;
   color: #FFF;
   font-size:24px;
}
.textpage{
    margin-top:-50px;
    margin-LEFT:3%;
    margin-right:3%;
    padding-bottom:100%;
    padding-left:5%;
    padding-right:5%;
    padding-top:3%;
    background-color:#fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    z-index:2;
    border-radius: 1%;
}